/**
Show values of 0,1,2 visually.
**/
.boolean-val,
.int-val {
    display: inline-block;
    overflow: hidden;
    width: 15px;
    height: 15px;
}
.boolean-val-0,
.int-val-0 {
    background: red;
    color: red;
}
.boolean-val-1,
.int-val-1 {
    background: green;
    color: green;
}
.int-val-2 {
    background: orange;
    color: orange;
}

.remove_from_course.loading:after {
    content: '';
    background-image:  url("../../../../../../misc/throbber-active.gif");
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 20px;
}

/**********************************/
/** compound file field - edit*/
/**********************************/
/*.field-name-field-pdf-files-comp .field-name-field-uploaded-date{*/
    /*display: none;*/
/*}*/