.hidden{
    display: none;
}

.hello{
    color: blue;
}
.main-menu{
    display:none;
}
#site-name{
    display:none;
}
#tranzila_frame{
    width:400px;
    height:300px;
    border:none
}

/****
Timetable
****/
.my-timetable-block .view-calendar {
    display: none;
}
.my-timetable-block .view-calendar:first-child {
    display: block;
}