/*General site */
.hidden{
    display: none;
}
.field .field-label{
    float: right;
    padding-left: 10px;
}

.main-menu{
    display:none;
}
#site-name{
    xdisplay:none;
}
#tranzila_frame{
    width:400px;
    height:300px;
    border:none
}
/*accommodation*/
.node-type-accomodation .field-slideshow-pager{
    position:absolute;
    top:468px;
    right:10px;
    
        z-index: 9999;
}
    .node-type-accomodation .field-slideshow-pager a{
        width:20px;
        height:20px;
        background-color: #2a68af;
        border:2px solid #ffffff;
        overflow: hidden;
        text-indent: 50px;
        display: inline-block;
        margin-left: 5px;
    }
    .node-type-accomodation .field-slideshow-pager .activeSlide{
        background-color: #ffffff;
        border:2px solid #2a68af;
    }
    .node-type-accomodation .field-name-field-price{
        margin-top:20px;
        font-weight: bold;
    }
    
/*breadcrunbs*/
#breadcrumb{
    padding:0px;
}
#breadcrumb a:nth-child(1){
    position: relative!important;
    left:auto!important;
}
#breadcrumb a, #breadcrumb .breadcrumb-separator,#breadcrumb-inside{
    line-height: 50px!important;
}
.no-banner #page-intro-inside.no-internal-banner-image{
    border-bottom: none;
}
#header-inside{
    padding-bottom: 20px;
    border-bottom: 1px solid #cfd0d2;
}
#page-intro{
    margin-top: -50px!important;
}
#page-intro-inside{
    background: none;
}

/*header and logo and menu*/
#header {
    padding-bottom: 0px;
}
#site-name, #site-slogan{
    text-align: left;
}
ul.menu li a{
    text-align: right;
}

/* hello user */
.hello-user {
    display: inline-block;
    padding-top: 14px;
    padding-right: 20px;
}
.between-headers + #header {
    padding-top: 10px;
}

/* print */
@media print {
    a,
    a:visited {
        text-decoration: none;
    }
    a[href]:after {
        content: "";
    }
    abbr[title]:after {
        content: "";
    }
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }
}

/*teacher*/
.node-teacher .field-name-field-mt-photo{
    margin-right: 10px; 
    margin-bottom:10px
}

/*Course*/
.node-type-course .field-name-field-teacher{
    margin-top:20px;
    border-top:1px solid #acacac;
}
.node-type-course .field-name-field-teacher .field-label{
    float: none;
}
.node-type-course .field-name-field-teacher h2{
    margin-top:0px;
}
